body {
    background-color: $accent-color;
}

// main layout properties
.chat-wrapper {
    height: 100vh;
    display: block;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 5rem 0 0 0;
}

.chat-window {
    flex: 1 1 auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 0px;
    padding: 1rem 1rem 2rem;
    will-change: scroll-position;
}

.chat-input {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.chat-staging {
    position: absolute;
    left: -1000px;
    bottom: -1000px;
    visibility: hidden;
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/**
  * Componentes
  */

// Chat messages
.chat-message {
    max-width: 85vw;
    padding: 0.6rem 1rem;
    border-radius: $large-radius;
    margin-bottom: 1rem;
    box-shadow: 0 2px 2px rgba(black, 0.1);
    clear: both;
    float: left;
    border: 1px solid white;
    background-color: white;
    transition: all 200ms ease-in-out;
    transform: translate3d(0,0,0);
    opacity: 1;
    will-change: transform;
    &.invisible-state {
        opacity: 0;
        transform: translate3d(0,20px,0);
    }
    .chat-message-username {
        margin-top: 0.2em;
        margin-bottom: 0;
        font-size: 0.75em;
        opacity: 0.8;
    }
    .chat-message-message {
        margin-bottom: 0;
    }
    &.user-message {
        text-align: right;
        float: right;
        border: 1px solid $primary-color;
        background-color: $primary-color;
        color: white;
        .chat-message-username {
            display: none;
        }
    }
}

// user input group
.chat-user-input-group {
    margin-bottom: 0;
    .user-input {
        appearance: none;
        border-radius: $small-radius !important;
    }
    .send-button {
        margin: 0;
        padding: 0 0 0 1rem;
        font-weight: $font-weight-bold;
        &:focus {
            text-decoration: none;
        }
    }
}

